.reservation-page {
  padding: 10% 10%;
}

.reservation-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 1rem;
  align-items: flex-start;
}

.reservation-input {
  border: 1px solid black;
}
